body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
form {
  display: inline; 
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  color: rgb(133, 0, 0);
  background-color: rgb(255, 255, 255);
}
.delete-form button:hover {
  background-color: rgba(255, 0, 0, 0.495);
}

.check-form button {
  color: rgb(0, 99, 28);
  background-color: rgb(255, 255, 255);
}
.check-form button:hover {
  background-color: rgba(0, 255, 94, 0.495);
}
	
li {
  list-style: none;
}